<div class="key" data-value="7">7</div><div class="key" data-value="8">8</div><div class="key" data-value="9">9</div><br />
<div class="key" data-value="4">4</div><div class="key" data-value="5">5</div><div class="key" data-value="6">6</div><br />
<div class="key" data-value="1">1</div><div class="key" data-value="2">2</div><div class="key" data-value="3">3</div><br />
<div class="key" data-value="0">0</div><div class="key" data-value="VK_DECIMAL_SEPARATOR">,</div><div class="key" data-value="VK_BACKSPACE">&#9003;</div><br />
<!-- <div class="key triplewide" data-value="VK_RETURN">&#9166;</div><br /> -->